#apply-button,#purchase{
    color: aliceblue;
    background-color: #E527B2;

}

#apply-button:hover {
    background-color: #eb6bc9;
}
/* #Purchase{
    color: aliceblue;
    background-color: #E527B2;  
} */

